/*  GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #06033a;
    background-color: #dbd3d3;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


/*  HEADER */

.header {
    background: #1a1a2e;
    color: white;
    padding-top: 40px;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.logo-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #1a1a2e;
}

.logo {
    flex: 1;
    text-align: center;
}

.logo h1 {
    font-size: 40px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.logo span {
    font-style: italic;
    color: #ccc;
    font-size: 18px;
    letter-spacing: 2mm;
}

/* NAV BAR AT BOTTOM RIGHT */
.navbar {
    background: #1a1a2e;
    padding: 12px 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* it pushes the navigation bar to the right */
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}
.navbar ul li a.active,
.navbar ul li a:hover {
    color: #ff7b00;
}

/* HERO SECTION AND FADE SLIDER */
.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.hero-slider {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.slide.active {
  opacity: 1;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide::after{
  content: "";
  position: absolute;
  top:0; left:0; width:100%; height:100%;
  background: rgba(0,0,0,0.5);
}

.slide-content{
  position: absolute;
  top: 50%; left: 8%;
  transform: translateY(-50%);
  z-index: 5;
  color: white;
  max-width: 600px;
}

.small-top{
  border: 1px solid rgba(255,255,255,0.4);
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
.dot{
  display:inline-block;
  width:10px; height:10px;
  background:red; border-radius:50%;
  margin-right:6px;
}
.slide-content h1{
  font-size: 55px;
  margin: 20px 0;
  line-height: 1.1;
  text-transform: uppercase;
}
.slide-content p{ font-size: 18px; margin-bottom: 25px; }

.slide-btn{
  background: red;
  color: white;
  padding: 12px 28px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.welcome-section {
    padding: 60px 20px;
    text-align: center;
}

.hero-text  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    width: 90%;
    max-width: 800px;
}

.welcome-text {
    color: #0f0641;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
}

.welcome-section h2 {
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


/*  SECTION HEADING  */

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading p {
    color: #0c035a;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
}

.section-heading h2 {
    color: #123c69;
    font-size: 25px;
}


/*  FEATURES  */

.features {
    padding: 70px 0;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    background-color: rgb(72, 31, 220);
    padding: 35px 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.feature-icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.feature-card h3 {
    color: #c76d06;
    margin-bottom: 15px;
    font-size: 22px;
}

.feature-card p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1px;
}

/*  STATISTICS  */

.statistics {
    color: rgb(24, 5, 237);
    padding: 20px 0;
}

.statistics-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    
}

.stat h2 {
    font-size: 25px;
    color: #080439;
}

.stat p {
    font-size: 16px;
}
.stat {
    flex: 1;
    padding: 20px;
    border-right: 3px solid #00c853;
}
.stat:last-child {
    border-right: none;
}

/*  CONTACT  */

.contact {
    padding: 10px 0;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

.contact-item {
    padding: 10px;
}

.contact-item h3 {
    color: #295584;
    margin-bottom: 10px;
}

.red-line{
  border: none;
  height: 3px;
  background: red;
  margin: 40px 0;
  width: 100%;
}

/*  FOOTER  */

.footer {
    background-color: wheat;
    color: rgb(14, 3, 57);
    padding-top: 15px;
}

.copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
}
#backToTop{
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: red;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#backToTop.show{
  opacity: 1;
  visibility: visible;
}

#backToTop:hover{
  background: #7AC74F; /* turns green on hover */
  transform: translateY(-3px);
}

/* ================= RESPONSIVE DESIGN ================= */

@media (max-width: 768px) {

    .header-content {
        flex-direction: column;
        gap: 20px;
    }

    .navbar ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        min-height: 500px;
    }

    .hero h2 {
        font-size: 14px;
    }

    .hero p {
        font-size: 16px;
    }

    .feature-container {
        grid-template-columns: 1fr;
    }

    .statistics-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

}
/* ARROWS - Forward and Backward */
.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:10;
    background: rgba(0,0,0,0.4);
    color:white;
    border:none;
    font-size:30px;
    padding:12px 18px;
    cursor:pointer;
    border-radius:50%;
    transition:0.3s;
}
.arrow:hover{
    background: #ff6a00; /* orange on hover */
}
.arrow.prev{ left:20px; }
.arrow.next{ right:20px; }


@media (max-width: 480px) {

    .logo h1 {
        font-size: 23px;
    }

    .navbar ul {
        gap: 10px;
        font-size: 14px;
    }

    .hero h2 {
        font-size: 14px;
    }

    .statistics-container {
        grid-template-columns: 1fr;
    }

}